body {
    margin: 0;
}

.gradient-background {
    background-image: linear-gradient(to right, #C27EE0 , #E08982);
    background-size: 180% 180%;
}

.container {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.intro {
    display: flex;
}

.intro-icon {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.title-text {
    font-family: "Righteous", sans-serif;
    font-size: 5rem;
    color: #E02B6D;
}

.sub-text {
    font-family: 'Nunito';
    font-size: 2rem;
    color: #480AA6;
}

.header-text {
    font-family: "Righteous", sans-serif;
    color: #E02B6D;
    font-size: 2.5rem;
}

.text {
    font-family: 'Nunito';
    font-size: 1.2rem;
    color: #480AA6;
}

.sticker {
    height: 100px;
    position: absolute;
}

.acheron {
    rotate: -18deg;
    top: 20px;
    right: 120px;
}

.rubiks {
    rotate: -15deg;
    top: 255px;
    left: 110px;
}

.raiden {
    rotate: 17deg;
    top: 10px;
    left: 118px;
}

.controller {
    rotate: 13deg;
    top: 255px;
    right: 116px;
}

.bs {
    rotate: -21deg;
    bottom: 10px;
    right: 125px;
}

.miko {
    rotate: 28deg;
    bottom: 20px;
    left: 130px;
}

@media screen and (max-width: 321px) {
    .controller, .rubiks {
        top: 360px;
    }
}

.profile-icon {
    height: 200px;
    width: 200px;
    border: 5px solid #480AA6;
    border-radius: 50%;
}

hr {
    border-top: dotted #D94ECB 6px;
    width: 50px;
}

.info {
    display: flex;
    margin: 50px 100px;
    font-family: "Righteous", sans-serif;
    font-size: 1.5rem;
    color: #E02B6D;
}

.info-img img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.info-text {
    padding: 50px;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .info {
        flex-direction: column;
    }
    .info-img {
        height: 200px;
    }
    .info-text {
        margin: 10px;
    }

    .sticker {
        height: 80px;
    }

    
    .header-text {
        font-family: "Righteous", sans-serif;
        color: #E02B6D;
        font-size: 1.5rem;
    }
    .title-text {
        font-family: "Righteous", sans-serif;
        font-size: 2.5rem;
        color: #E02B6D;
    }

    .profile-icon {
        height: 150px;
        width: 150px;
        border: 5px solid #480AA6;
        border-radius: 50%;
    }

    .intro {
        flex-direction: column;
    }
    .intro-icon {
        justify-content: center;
    }
}